
.Pokecard {
  display:flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: darkgray;
}

/* TODO: uncapitalize name (only caps for component) */
.Pokecard-name {
  color:blue;
}